<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @user.podcast_title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.name %>
</p>

<%= image_tag @user.avatar_url %>

<%= audio_tag @user.podcast_url, controls: true, autoplay: false %>

<p>
  <strong>Image url:</strong>
  <%= @user.avatar_url %>
</p>

<p>
  <strong>Podcast url:</strong>
  <%= @user.podcast_url %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
